/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 650px;
  margin-bottom: 5px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 650px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 100%;
  height: 650px;
  }
/*carousel end */
section {
  padding: 0;
  margin-top: 20px;
}
#portfolio {
  width: auto;
  height: 800px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #a9b8d5;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Sans-serif;
  font-weight: 700;
  text-transform: lowercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 700;
  font-size: 13px
  color:#222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05f40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05f40;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  text-decoration: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Carousel base class */
.carousel {
  height: 768px;
  margin-bottom: 5px;
  }
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 768px;
  background-color: #777;
  }
.carousel-inner > .item > img {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 100%;
  height: 768px;
  }
}

/*carousel end */
section {
  padding: 100px 0;
}
#about {
  width: auto;
  height: 800px;
}

 #portfolio {
  width: auto;
 height: 800px;
}

@media (min-width: 992px) {
  /* Carousel base class */
.carousel {
  height: 780px;
  margin-bottom: 2px;
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 780px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 50px;
  left: 0;
  min-width: 100%;
  height: 100%;
  }
/*carousel end */
section {
  padding: 0;
}
#about {
  width: auto;
  height: 760px;
  background-color: #ffffff;
  padding-top: 50px;
}
#services {
  width: auto;
  height: 768px;
  padding-top: 100px;
}
#portfolio {
  width: auto;
  height: 760px;
}

.navbar-default {
  background-color: #ffffff;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #a9b8d5;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Sans-serif;
  font-weight: 700;
  text-transform: lowercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  font-weight: 700;
  font-size: 13px
  color:#222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #F05f40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #F05f40;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  text-decoration: none;
}
}